#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container takes up at least the full height of the viewport */
}

main {
  flex: 1; /* Allow the main content area to expand and push the footer down */
}

.logo {
  height: 4rem;
}

.companyNameBar {
  margin-top: 2rem;
}

body {
  background-image: url(./assets/green-data-technology-background-with-binary-code_53876-119581.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
}

html {
  height: 100%;
  margin: 0;
}
footer {
  /* placeholder */
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
