#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container takes up at least the full height of the viewport */
}

/* Animations */
@keyframes fadeIn-moveIn {
  from {
    opacity: 0;
    transform: translateX(25%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
  
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html{
  size: 100%;
}

main {
  flex: 1; /* Allow the main content area to expand and push the footer down */
  width: 100%;
}

.logo {
  height: 4rem;
}

.companyNameBar {
  margin-top: 2rem;
}

body {
  background-image: url(./assets/peakpx.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: scroll;
  height: 100%;
  margin: 0;
}

html {
  width: 100%;
  height: auto;
  margin: 0;
}

footer {
  background-image: url(./assets/3731902884_ea9ee00ccf_k.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-top: 2px solid black;
  font-family: 'roboto';
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.homeBanner {
  background-image: url(./assets/3731902884_ea9ee00ccf_k.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  text-align: center;
  border: 2px solid black;
}

.navbar {
  background-image: url(./assets/navbarbackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width:fit-content;
  height: auto;
}

.bodyText {
  color: white;
  text-shadow: 1px 1px 0px black;
  font-size: x-large;
  text-align: center;
}

.productGrid {

}

.toolbar {
  width: max-content;
}

@media (min-width: 1024px){
  .navbar{

  }
  .productGrid{
    display: flex;
    align-items: center;
  }
}

.productCard {
  animation: fadeIn-moveIn 1s;
}
